body {
    background-color: rgba(0, 0, 0, 0.431);
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDMBz9w-OUNeaPBQYHWEsJE5LsRCYB49QoMA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover; */
}
.prfile-pic-container-in-app {
    width: 80px;
    height: 0;

    width: 100%;
}
.prfile-pic-container-in-app img {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10%;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;
    object-fit: cover;
}
#uplodaer-container-in-app {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    width: 500px;
}
#main-container-app {
    height: 100vh;
    position: relative;
}
#uploader-profile-container {
    /* display: flex;
    justify-content: space-between; */
    /* margin-top: 30px; */
}
h3 {
    color: black;
}
button {
    cursor: pointer;
}
